.form{
    width: 100%;
    height: 60px;
    background-color: var(--bg2-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 25px;
    border-radius: 12px;
    grid-column: 1/3;
    box-shadow: var(--box-shadow);
}

.form input {
    width: 100%;
    height: 40px;
    background-color: inherit;
    border: none;
    color: var(--text-input-color);
    outline: none;
    font-size: 1.3rem;
    padding-left: 33px;
    padding-right: 33px ;
}

.form input::placeholder{
    color: #a7aebd;
    font-size: 1.3rem;
}

.form button {
    width: 110px;
    height: 43px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #0078ff;
    font-size: 1.3rem;
    cursor: pointer;
}


